{
    "BaseUrl": "http://localhost:5224",
    "ConnectionStrings": {
        "CBARConnection": "Host=localhost;Port=5432;Database=CBARDb;Username=postgres;Password=__POSTGRES_PASSWORD__"
    },
    "Logging": {
        "LogLevel": {
            "Default": "Information",
            "Microsoft.AspNetCore": "Warning"
        }
    },
    "Serilog": {
        "MinimumLevel": {
            "Default": "Information",
            "Override": {
                "Microsoft": "Warning",
                "System": "Warning"
            }
        },
        "WriteTo": [
            {
                "Name": "Console"
            },
            {
                "Name": "File",
                "Args": {
                    "path": "Logs/log-.txt",
                    "rollingInterval": "Day",
                    "retainedFileCountLimit": 10
                }
            }
        ],
        "Enrich": [
            "FromLogContext",
            "WithMachineName",
            "WithThreadId"
        ]
    },
    "AllowedHosts": "*",
    "JWT": {
        "Issuer": "CBARPROJECT",
        "Audience": "CBARPROJECT",
        "Key": "2d46e105-9bb7-46c5-9845-9d75eedb9925"
    }
}
